* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

form {
  /* width: 700px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 10vh auto;
  padding: 2em; */
}

form h1{
  /* text-align: center;
  color: green;
  margin-bottom: 20px; */
}

form input{
  /* width: 85% ;
  padding: 10px;
  font-size: large;
  border: none;
  outline: none;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
/* display: block; */
/* margin: 0 auto; */
/* margin-bottom: 10px; */

}

form input:focus{
  /* background-color:rgb(186, 184, 184) ;
  border-bottom: 2px solid rgb(22, 90, 8); */
}


form .label{
  /* width:14%;
  display: inline-block;
  text-align: right; */
}

form button{
  /* width: 90%;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: large;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-left:5% ;
  margin-top: 40px; */
  /* cursor:pointer */
  /* cursor:url("https://vignette.wikia.nocookie.net/mas-roleplay/images/7/73/Apocalypse_Cursor.png/revision/latest?cb=20200415230754%27") */
}

form button:hover{
  /* background-color: white;
  color: green;
  border: 2px solid green; */
}



