* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --dark: black;
  --base-color: #13b2ba;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  /* border: 2px solid rgb(124, 243, 124); */
}

header {
  min-height: 70px;
  width: 100vw;
  background-color: var(--dark);
  color: white;

}

.header {
  display: flex;
  padding: 0 1em;
  align-items: center;
}

.header .logo {
  flex-grow: 2;
}

.header nav {
  flex-grow: 3;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header nav a {
  text-decoration: none;
  color: var(--base-color);
  flex-shrink: 0;
  height: 70px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav a:hover {
  background-color: var(--base-color);
  color: white;
}


.header nav button,
.hero .content button {
  width: 200px;
  height: 50px;
  background-color: var(--base-color);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

  transition: background-color.2s ease-in-out;
}

.header nav button:hover,
.hero .content button:hover {
  background-color: transparent;
  color: var(--base-color);
  border: 2px solid var(--base-color);

}

.menuIcon {
  color: var(--base-color);
  font-size: 2em;
  display: none;
}


/* ////////////////////////////////////// Header end */
/* ////////////////////////////////////// Hero section start */


.hero,
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  /* background-color: burlywood; */
}

.hero img,
.hero .content,
.services .card {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.hero .content h1 {
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.535);
}

.hero .content p {
  font-size: 20px;
}

.hero .content button {
  font-size: 20px;
  width: 250px;
  height: 70px;
}



/* ////////////////////////////////////// Hero section end */
/* ////////////////////////////////////// Logo section start */


.logos {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 15px;
  padding: 1em;
}


/* ////////////////////////////////////// Logo section  end */
/* ////////////////////////////////////// Services section start */

.services {
  gap: 2em;
  flex-wrap: wrap;
}

.services .card {
  flex-direction: row;
  border: 1px solid black;
  box-shadow: 0 5px 0 #191A23;
  border-radius: 20px;
  background-color: #F3F3F3;
  height: 310px;
  padding: 50px;
  width: 700px;
  flex-shrink: 0;
}

.services .card .content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.services .card .content,
.services .card .icon {
  width: 50%;

}

.services .card .content h3 {
  background-color: var(--base-color);
}


.services .card .content button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 1em;
  background: transparent;
}

.services .card2 {
  background-color: var(--base-color);
}

.services .card2 .content h3,
.services .card3 .content h3 {
  background-color: #F3F3F3;
}

.services .card3 {
  background-color: var(--dark);
}

/* ////////////////////////////////////// Services section end */
/* ////////////////////////////////////// Study section start */

.studySecHead {
  text-align: center;
  padding: 1.5em;
  font-size: 60px;
}

.studySecHead span {
  color: var(--base-color);
}

.studySec {
  min-height: 326px;
  background-color: var(--dark);
  color: #F3F3F3;
  border-radius: 40px;
  padding: 1em;
  display: flex;
  font-size: 18px;
  align-items: center;
}

.studySec .card {

  height: 163px;
  padding: 1em;
  border-right: 1px solid gray;
  flex-grow: 1;
}

.studySec .card .content {
  width: 300px;
  height: 163px;
  margin: 0 auto;
}

.studySec .card .content a {
  text-decoration: none;
  color: var(--base-color);
  padding-top: 20px;
  display: block;
}


.studySec .card .content a:hover {
  color: #666363;
}

/* ////////////////////////////////////// Study section end */
/* ////////////////////////////////////// FaQ section start */

.faqs{
  min-height: 400px;
  overflow: hidden;
}
.faq {
  width: 80%;
  height: 150px;
  background-color: var(--base-color);
  color: #F3F3F3;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: height 0.2s ease-in-out;
}

.faq .que {
  height: 150px;
  width: 90%;
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  transition: border-bottom 0.2s ease-in-out;
}

.faq .que span {
  font-size: 60px;
  width: 80px;

}

.faq .ans {
  opacity: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;

}

.faq:hover {
  height: 300px;
}

.faq:hover .que {
  border-bottom: 1px solid black;
}

.faq:hover .ans{
opacity: 1;
 height: 150px;
}
/* ////////////////////////////////////// FaQ section end */

/* ////////////////////////////////////// Footer section start */

footer{
  height: 514px;
  background-color: var(--dark);
  border-radius: 40px 40px 0 0 ;
  width: 100%;
}
/* ////////////////////////////////////// Footer section end */