/* h1{
  background-color: orange;
  padding: 2em;
}

p{
  color: gray;
  font-size: 2em;
}

button{
  outline: 0;
  border: none;
  background-color: purple;
  color: white;
  padding: 2em;
  font-size: 1.5em;
} */