* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container{
  height: 400px;
  width: 400px;
  background-color: aquamarine;
  transition: width .4s ease-in-out;
} */

/* 
@media only screen and (max-width: 1000px){
.container{
    width: 90%;
}
} */


/* @media (max-width: 1000px){
.container{
    width: 90%;
}
} */


/* @media   (min-width: 800px) and (max-width: 1600px){
.container{
    background-color: plum ;
}
} */


/* @media (orientation: portrait){
.container{
  background-color: rgb(74, 73, 73);
  width: 90%;
  margin: 0 auto;
}
} */


/* ///////////////// Flex */


.parent{
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(246, 96, 116);

  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap ; */
}


.child{
  height: 300px;
  width: 300px;
  background-color: rgb(142, 12, 47);
  border: 2px solid white;
  font-size: 3em;
  color: white;
}