* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: grid;
  /* grid-template-columns: 400px 400px 400px 400px 350px ;
  grid-template-rows: 350px 850px 350px 350px ; */
  grid-template-columns:400px repeat(3 , 300px) ;
  grid-template-rows: 350px 850px repeat(2, 350px) ;
  /* column-gap:30px;
  row-gap: 50px; */
  gap: 50px 30px; /*row column*/
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.item{
  width: 200px;
  height: 200px;
  background-color: chocolate;
  color: white;
  font-size: 2em;
  display: flex;
  align-items:center ;
  justify-content: center;
  border: 2px solid black;
}