/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  max-width: 100vw;
  height: 100vh;
}
.hero{
width: 79%;
height: 100%;
  vertical-align: top;

}
.sidebar a{
  padding-left: 35px;
}


 .sidebar{
   background-color: rgb(74, 103, 15);
   width: 20%;
   height: 100%;
   
  vertical-align: top;
   display:inline-block;
} 


 img{
    height: 150px;
    width: 150px;
    border-radius: 60%;
    border: 7px solid rgb(96, 143, 3);
    margin: 14px;
    outline: 30px;
}     

.sidebar a {
  display: block;
  margin: 10px;
  text-decoration: none;
 font-family: sans-serif ;
  color: rgb(159, 228, 21);
  text-align: center;
} */


