* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper{
  max-width:  1800px;
  height: 100%;
  margin: 0 auto;
  /* border: 2px solid rgb(124, 243, 124); */
}

header{
  height: 70px;
  width: 100vw;
  background-color: black;
  color: white;

}

.header{
  display: flex;
  align-items: center;
}
.header .logo{
  flex-grow: 2;
}
.header nav{
  flex-grow: 3;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header nav a {
  text-decoration: none;
  color: #13b2ba;
  flex-shrink: 0;
}


.header nav button{
  width: 200px;
  height: 50px;
  background-color: #13b2ba;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
    transition:  background-color.2s ease-in-out ;
}

.header nav button:hover{
  background-color: transparent;
  color: #13b2ba;
  border: 2px solid #13b2ba;

}