@import url("./wrapper.css");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* .wrapper{
  max-width: 1800px;
  min-height: 100vh;
  margin: 0 auto;
}

header{
  height: 70px;
  width: 100%;
  background-color: black;
}

.home{
    height: 1100px;
  width: 100%;
  background-color: rgb(7, 146, 139);

}

.card{
   height: 300px;
  width: 48%;
  background-color: rgb(149, 232, 228);
  border: 2px solid black;
  display: inline-block;

}

.card1{
  margin-right: 3.6%;
} */


/* /////////////////////// Layout */


/* header {
  background-color: purple;
  height: 120px;
  width: 100%;
}

header .wrapper{
 border: 10px solid rgb(232, 57, 57);
}


.home {
  background-color: rgb(239, 165, 239);
  height: 700px;
  width: 100%;
}

.home .wrapper{
   border: 10px solid rgb(232, 232, 57);
padding: 2em;
} */

.bgImg {
  height: 500px;
  width: 1600px;
  background-color: aqua;
  margin: 100px auto;

  background-image: url("https://thumbs.dreamstime.com/b/open-book-library-sits-wooden-table-bookshelves-out-focus-behind-403134499.jpg");

  /* background-repeat:repeat-y */
  /* background-position:   left center; */
  /* background-position: 30% 50%; */

  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;

  background-attachment: fixed;
/* 
  opacity: .5; */

}

.heroSection {
  height: 600px;
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.bgImage {
  background-image: url("https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?cs=srgb&dl=pexels-pixabay-302769.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;


  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


.content {
  font-family: sans-serif;
  padding: 2em;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(175, 115, 66, 0.548);

}

.content h1 {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 3em;

}

.content p {
  color: rgb(228, 225, 225);
    text-align: center;
font-size: larger;
}