*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.red{
  color: red;
}
.bg-blue{
background-color: rgb(91, 128, 241);
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.t-shadow{
text-shadow: 2px 2px 4px  rgb(107, 103, 103);
}

.h-full{
  height: 100vh;
}

/* ///////////////////////// */


.purple{
  color: purple !important;
}