* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ///////////////// Flex */


.parent {
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(246, 96, 116);
  flex-wrap: wrap;

  display: flex;

  /* ////////// justify-content ---- main axis */

  /* justify-content:space-between; */
  /* justify-content:space-around; */
  /* justify-content:space-evenly; */

  /* flex-direction: column; */
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-evenly; */

    /* ////////// align-items ---- cross axis */

/* align-items: center; */
/* align-content: space-evenly;
justify-content: space-evenly; */


 /* ////////// gap */

 justify-content: center;
 align-content: center;
 /* column-gap: 1em;
 row-gap: 1em; */

 /* gap: 2em  4em;*/    /* row column */

}



.child {
  height: 300px;
  width: 300px;
  background-color: rgb(142, 12, 47);
  border: 2px solid white;
  font-size: 3em;
  color: white;
}