header {
  padding: 1em 0;
}

.header {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;


}

.header nav {
  flex-direction: column;
  align-items: flex-start;
  display: none;
}

.header .logo {
  padding: 0 1em;
}

.header nav a {
  width: 100vw;
  justify-content: flex-start;
  padding: 0 1em;
}

.header nav button {
  margin: 1em;
}

.menuIcon {
  /* display: inline; */
}


/* ////////////////////////////////////// Header end */
/* ////////////////////////////////////// Hero section start */


.hero, .services {
  flex-direction: column;
}


.hero img,
.hero .content {
  width: 90%;
  align-items: center;
  margin-bottom: 3em;
}


.hero .content h1{
  font-size: 40px;
}

/* ////////////////////////////////////// Hero section end */
/* ////////////////////////////////////// Logo section start */

.logos{
   justify-content: center;
}


/* ////////////////////////////////////// Logo section end */
/* ////////////////////////////////////// Services section start */

.services .card{
  width: 90%;
}

/* ////////////////////////////////////// Services section end */

