* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  max-width: 100vw;
  min-height: 100vh;
  background-color: bisque;

  display: grid;
  grid-template-columns: 1fr 2fr repeat(3, 300px);
  /* grid-template-rows:repeat(6, 300px) ; */
  grid-template-rows:repeat(auto-fit, minmax(300px, 1fr)) ;
  /* grid-template-rows:repeat(auto-fit, 300px) ; */
  gap: 50px;
  align-items: center;
  justify-items: center;
}

.item {
  width: 200px;
  height: 200px;
  background-color: chocolate;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.item2 {
  height: 100%;
  width: 100%;
  /* grid-column-start:2 ;
  grid-column-end:4 ; */
  grid-column: 2 / 5;

  /* grid-row-start: 2;
  grid-row-end: 4; */
  grid-row: 2 / 4;
}

.item3{
  height: 100%;
  width: 100%;
  grid-column: 2 / span 3 ;
}

.item4{
  height: 100%;
  width: 100%;
  /* grid-row: 2 / span 2; */
  grid-row: 2 / 4 ;
}